.image-grid__container {
  display: grid;
  grid-gap: 16px;
  grid: auto-flow / repeat(3, 1fr);
  margin: 16px auto;
}

.image-grid-item {
  display: inline-block;
  /* width: 350px; */
  /* height: 350px; */
  border: 1px solid black;
  overflow: hidden;
}

.container {
  /* background-color: silver; */
  display: inline-block;
  margin: 0 auto;
}
