.image-grid__container {
  display: grid;
  grid-gap: 16px;
  grid: auto-flow / repeat(4, 150px);
  margin: 16px auto;
}

.image-gri-item {
  display: inline-block;
  width: 150px;
  height: 150px;
}

.container {
  /* background-color: silver; */
  display: inline-block;
  margin: 0 auto;
}
